@*----------------------------------------------------------------------------

(C) Copyright 2012 Johnson Controls, Inc.
Use or Copying of all or any part of this program, except as
permitted by License Agreement, is prohibited.

------------------------------------------------------------------------------*@

@model ReportActionModel

<div class="column1">
    @foreach (var reportParameter in Model.Parameters.ReportParameterContainers[ReportParameterContainer.Column1])
    {
        @Html.LabeledParameterField(reportParameter, false)
    }
</div>
<div class="column2">
    @foreach (var reportParameter in Model.Parameters.ReportParameterContainers[ReportParameterContainer.Column2])
    {
        @Html.LabeledParameterField(reportParameter, false)
    }
</div>
