@*----------------------------------------------------------------------------

(C) Copyright 2012 Johnson Controls, Inc.
Use or Copying of all or any part of this program, except as
permitted by License Agreement, is prohibited.

------------------------------------------------------------------------------*@

@{
    ViewBag.Title = Resources.UnauthorizedViewTitle;
    ViewBag.HelpLink = Html.GetLocalizedHelpLink("~/Help/index_csh.htm#0,withnavpane=true");
}

<div class="container">
    <section class="alert alert-heading">
        @Resources.UnauthorizedViewMessage
    </section>
</div>
